name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build
      run: make all

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: hsc-plugin
        path: dist/
